body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.footer,
.header {
  height: 2rem;
  width: 100%;
  background-color: #3e4836
}

.content {
  flex: 1;
  background-color: #f6f2c0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  height: min(100vh, max(30rem, 90%));
  width: min(100vw, max(30rem, 90%));
  background-color: #d9b28a;
  border-radius: 8pt;
}

